.room {
  position: relative;
  transition: 0.2s;
}
.title {
  position: absolute;
  display: none !important;
  transition: 0.2s;
  transition-property: ease-in;
  color:#fff;
}

.room:hover .title {
  display: block !important;
  top:25px;
  left:20px;
}
.room:hover {
  opacity: 0.5;
}