@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*::-webkit-scrollbar {
  width: 0px;
}
* {
  font-family: 'Kanit', sans-serif;
}

code {
  font-family: 'Kanit', sans-serif;
}
